
 <h1>결과는.</h1>
 신이 <%= @name %>를 만들 때<br>
    <div class="col-xs-6 col-md-4">
       <h3><%=@result[0]%>을 <%=@spoon[0]%> 스푼 <br></h3>
     <img src="/assets/image1.png" alt="image1" />
 </div>
 
  <div class="col-xs-6 col-md-4">
   <h3><%=@result[1]%>을 <%=@spoon[1]%> 스푼 <br></h3>
      <img src="/assets/image1.png" alt="image1" />
      
  </div>
  
  <div class="col-xs-6 col-md-4">
    <h3> <%=@result[2]%>을 <%=@spoon[2]%> 스푼으로 완성<br></h3>
      <img src="/assets/image1.png" alt="image1" />
  </div>
  
<div class = "container">
        <a href = "/home/index">처음으로</a>
        </div>
